@use '../../../../../../mixins'

.layersWrapper
    min-width: 300px
    height: 100%
    overflow: hidden
    background-color: var(--black2)
    .nav
        padding: 0 12px
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: -6px
        .tags
            display: flex
            align-items: center
            color: white
            width: calc( 100% - 35px )
            overflow-x: overlay
            padding-bottom: 6px
            .tag
                display: flex
                align-items: center
                cursor: pointer
        .options
            padding-bottom: 6px
            svg
                stroke: var(--lightblack2)
                transform: translateY(3px) translateX(3px)
                cursor: pointer
                width: 35px
            svg:first-child
                transform: translateY(3px) translateX(3px) scale(0.825)
    .layers
        overflow-y: overlay
        height: calc( 100% - 70px )
        .layer
            background-color: var(--lightblack)
            margin: 0 12px
            margin-top: 12px
            border-radius: 7px 7px
            padding: 12px
            cursor: pointer
            box-shadow: 0 3px 5px rgba(0,0,0,0.5)
        .layer:last-child
            margin-bottom: 6px
        .layerbtn
            display: flex
            align-items: center
            justify-content: space-between
            .options
                display: flex
                align-items: center
                .addBtn
                    +mixins.center
        .assets
            margin-top: 16px
            display: grid
            grid-template-columns: 1fr 1fr
            .item
                margin: 6px
                padding: 12px
                border-radius: 7px 7px
                background-color: var(--lightblack3)
                display: flex
                justify-content: space-between
                align-items: center
                box-shadow: 0 0 10px rgba(0,0,0,0.2)
                border: 1px solid var(--lightblack3)
                svg
                    margin-right: -5px
            .active
                border-color: var(--primary)
                color: var(--primary)
                background-color: var(--lightblack)
            .highlight
                background-color: rgba(var(--primaryRGB), 0.1)
        .sublayers
            background-color: var(--lightblack3)
            padding: 6px 0
            margin: 12px 0
            border-radius: 7px 7px
            box-shadow: inset 0 0 5px rgba(0,0,0,1)
    .addLayer
        font-weight: 400
        cursor: pointer
        background-color: var(--lightblack3)
        margin: 6px
        border-radius: 7px 7px
        padding: 6px
        box-shadow: 0 3px 5px rgba(0,0,0,0.5)
        .wrapper
            display: flex
            justify-content: center
            align-items: center
            background-color: var(--lightblack)
            width: 100%
            padding: 10px
            border-radius: 7px 7px
            box-shadow: 0 0 10px rgba(0,0,0,0.25)
        svg
            margin-right: 6px