@use '../../../../../../mixins'

.title
    width: 100%
    background-color: var(--black)
    h3
        font-size: 36px
        font-weight: 300
        margin: 0
        padding: 24px 12px
.searchbar
    background-color: var(--lightblack)
    padding: 24px
    +mixins.center
    flex-flow: row
    box-shadow: inset 0 0 5px rgba(0,0,0,1)
    justify-content: space-between
    .input
        position: relative
        width: 100%
        margin-right: 24px
        svg
            position: absolute
            left: 12px
            transform: translateY(50%)
            width: 30px
        input
            height: 50px
            padding-left: 52px
            padding-right: 12px
            border: none
            outline: none
            background-color: var(--black2)
            box-shadow: 0 10px 10px rgba(0,0,0,0.2)
            width: 100%
            color: white
            border-radius: 7px 7px
            font-size: 16px

    .options
        display: flex
        list-style: none
        li
            display: flex
            align-items: center
            border: 1px solid var(--primary)
            white-space: nowrap
            cursor: pointer
            padding: 12px
            border-radius: 7px 7px
            svg
                stroke: var(--primary)
            p
                color: var(--primary)
                margin-left: 6px

@media only screen and (max-width: 1200px)
    .searchbar
        flex-flow: column
        .input
            margin-right: 0
        .options
            position: absolute
            bottom: calc( 45px + 24px )
            right: 24px
            li
                border-radius: 100%
                background-color: var(--primary)
                padding: 16px
                p
                    display: none
                svg
                    stroke: white