.hero
    height: 35vw
    background-color: var(--primary)
    .wrapper
        display: flex
        align-items: center
        position: relative
        height: 100%
        margin-bottom: -35vw
        z-index: 1
        .content
            padding: 24px
            h1
                font-size: 2.5vw
            p
                font-size: 1.15vw
                margin-top: 24px
                padding-left: 0.25vw
    video
        width: 100%
        object-fit: cover
        height: 100%
        filter: hue-rotate(35deg) brightness(75%) contrast(150%) saturate(120%)