@use '../../../../../../mixins'

.wrapper
    padding: 24px
    display: flex
    align-items: center
    flex-flow: column
    width: 450px
    justify-content: center
    max-width: calc( 100vw - 24px )
    .error
        border: 1px solid var(--red)
    .error::placeholder
        color: var(--red)
    input
        font-size: 16px
        border: none
        outline: none
        width: 100%
        padding: 18px
        padding-right: 0
        background-color: var(--lightblack)
        border-radius: 7px 7px
        box-shadow: inset 0 0 10px rgba(0,0,0,0.5)
    button
        padding: 8px
        border: none
        outline: none
        background-color: var(--lightblack)
        width: 100%
        border-radius: 7px 7px
        margin-top: 12px
        cursor: pointer
        box-shadow: inset 0 0 5px rgba(0,0,0,1)
        p
            background-color: var(--black2)
            padding: 12px
            border-radius: 7px 7px
            font-size: 14px
            font-weight: 400
            box-shadow: 0 5px 10px rgba(0,0,0,0.2)