@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap')
  
:root
  --primary: #FF004C
  --black: #070707
  --lightblack: #141414

html, body
  background-color: #141414
  color: white
  padding: 0
  margin: 0

*
  box-sizing: border-box
  font-family: 'Ubuntu', sans-serif
  font-weight: 300